.ant-form-item {
  margin-bottom: 2px;
}

.ant-card-body {
  padding: 8px 16px;
}

.ant-card-head-title,
.ant-card-extra {
  padding: 6px 0;
}
.ant-card-head {
  min-height: 20px;
}

.ant-card {
  margin-bottom: 5px;
}

.ant-menu-item {
  a.active {
    color: #053f72;
  }
}

.negative,
.neg {
  color: red;
}
.positive,
.pos {
  color: green;
}

.smaller-fs > td {
  padding: 5px 2px !important;
}
.height-53 {
  height: 53px;
}

.react-tagsinput {
  line-height: 1.2 !important;

  span {
    span.react-tagsinput-tag {
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.65);
      border: 1px solid #e8e8e8;
      a {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
